# === Общие настройки ===
TZ=Europe/Kiev
MYTIMEZONE=Europe/Kiev

# === MariaDB ===
MYSQL_ROOT_PASSWORD=supersecret
MYSQL_DATABASE=goip
MYSQL_USER=goipuser
MYSQL_PASSWORD=goippass
MYSQL_PORT=3307

# === Web UI GoIP SMS Server ===
GOIP_WEB_LOGIN=admin
GOIP_WEB_PASSWORD=admin
GOIP_SMS_UDP_PORT=44444
GOIP_SMS_HTTP_PORT=8086

# === Notificator (пересылка SMS в Telegram) ===
NOTIFICATOR_PORT=5001

# === Adminer ===
ADMINER_PORT=8085
